/* ---------------RESET--------------- */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
u,
i,
ul,
center,
fieldset,
form,
label,
caption,
figure,
figcaption,
footer,
header,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  color: #777777;
}

.display--inlineb {
  display: inline-block;
}

.container {
  max-width: 1040px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.section {
  margin: 100px 0px;
  display: flex;
}

.section--centered {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar {
  text-transform: uppercase;
  font-weight: bold;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 230px;
  background-color: #fff;
  z-index: 9999;
  transition: all 0.8s;
}

.navbar--scrolled {
  padding: 5px 230px;
}

.navbar--fixed {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.hamburger {
  float: right;
  font-size: 20px;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.show {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.navbar__brand {
  display: flex;
  text-decoration: none;
  color: #555555;
  font-size: 18px;
  align-items: center;
  justify-content: left;
}

.nav__item {
  display: inline-block;
  text-decoration: none;
  margin: 15px;
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  color: #777777;
  transition: all 0.5s;
  padding-bottom: 5px;
}

.nav__link:hover {
  color: rgb(124, 197, 118);
}

.nav__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(124, 197, 118);
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* HEADER */

.header {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../img/header-bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container--header {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.header .subtitle {
  color: #fff;
  font-size: 20px;
}

.btn--green {
  padding: 0px 30px;
  cursor: pointer;
  border: none;
  background-color: #7cc573;
  color: white;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.8s;
  text-shadow: 0px 1px 1px rgba(93, 140, 89, 1);
  margin-top: 60px;
}

.btn--green:hover {
  background-color: #fff;
  color: rgba(93, 140, 89, 1);
  text-shadow: 0px 1px 1px rgba(93, 140, 89, 0.6);
  transform: scale(1.2, 1.2);
}

/* SERVICES */

.title {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

.subtitle {
  color: #777777;
  font-size: 20px;
  font-family: 'Roboto Slab', sans-serif;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.container--services {
  flex-direction: row;
}

.container__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 90px 15px 0px 15px;
}

.content-subtitle {
  color: #222222;
  margin-top: 40px;
  margin-bottom: 20px;
  transition: all 0.8s;
  text-transform: uppercase;
}

.content-subtitle--green {
  font-size: 17px;
  color: #7cc576;
}

.green-borderbottom::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 0%;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7cc576;
  transition: all 0.8s;
}

.green-borderbottom:hover::after {
  width: 75%;
}

/* RELAX */

.gear {
  background-color: #e9e9e9;
  height: 100vh;
  width: 30vw;
  position: relative;
  transition: all 2s;
}

.gear__image {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.8s;
}

.gear:hover .gear__image {
  transform: translate(-50%, -50%) rotate(180deg);
}
.gear:hover {
  background-color: white;
}

.container--relax {
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../img/relax-background.png');
  width: 70vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 100px 80px 0px 150px;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: none;
}

.title--white {
  color: #fff;
}

.text--green {
  color: #7cc576;
}

.paragraph--grey {
  font-size: 16px;
  color: #cccccc;
  margin-top: 40px;
  margin-bottom: 15px;
}

.checkmark {
  display: inline-block;
  background-image: url('../img/Checkmark-3.png');
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-position: center;
  margin: 10px;
  color: #cccccc;
}

.checkmark__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paragraph--checkmark {
  margin: 0 10px;
}

/* PROJECT */

.section--project {
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container--project {
  flex-direction: column;
  width: 66%;
  text-align: left;
}

.container--project__text {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-self: flex-start;
}

.content-subtitle--lowercase {
  text-transform: none;
  margin: 0;
  margin-top: 25px;
}

.link {
  text-decoration: none;
}

.link--green {
  font-weight: bold;
  text-transform: uppercase;
  color: #7cc576;
  margin-top: 20px;
  transition: all 0.8s;
  width: 160px;
}

.link--green:hover {
  color: #222222;
  font-size: 110%;
}

.container--project__ipad {
  position: absolute;
  right: -400px;
  top: 0;
}

/* CULTURE */

.section--culture {
  flex-direction: column;
}

.container--culture {
  flex-direction: row;
  justify-content: space-between;
}

.container__content--culture {
  width: 30%;
  transition: all 0.8s;
  position: relative;
}

#culture .icon--culture::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #777777;
  width: 150px;
  top: 50%;
  right: -210%;
}

#culture .container__content:nth-child(1) .icon--culture::before,
#culture .container__content:nth-child(3) .icon--culture::after {
  display: none;
}

/* CLIENTS */

.section--clients {
  flex-direction: column;
  text-align: center;
}

.container--clients {
  flex-direction: column;
}

.container--clients__box {
  display: flex;
  flex-direction: row;
}

.blockquote {
  font-size: 22px;
}

.blockquote__footer {
  font-family: 'Roboto Slab', sans-serif;
  color: #7cc576;
  font-size: 14px;
}

.container__content--blank {
  width: 30%;
}

/* READY */

#ready {
  background-color: #7bc575;
  padding: 100px 0;
}

.title--white {
  color: #fff;
  margin-top: 0;
}

.button--ready {
  border: 3px solid #fff;
  border-radius: 8px;
  background-color: #7bc575;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 12px 25px;
  margin-top: 25px;
  transition: all 0.8s;
}

.button--ready:hover {
  background-color: #fff;
  color: #7bc575;
}

/* LOGOS */

#logos {
  margin-bottom: 100px;
  text-align: center;
}

.img--logo {
  margin: 0 25px;
}

/* FOOTER */

.section--top-footer {
  color: #fff;
  background-color: #212121;
  margin-bottom: 0;
}

.container--top-footer {
  flex-direction: row;
  justify-content: space-around;
}

.content-subtitle--white {
  color: #fff;
}

.contact__box,
.tweets__box {
  padding: 20px;
  text-align: center;
  width: 30%;
}

.posts__box {
  padding: 20px;
  text-align: center;
  width: 40%;
}

.top-footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  text-align: left;
  transition: all 0.8s;
  margin-left: 30px;
}

.top-footer__link:hover {
  color: #7bc575;
}

.tweet--link {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.tweetcaption {
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
}

#bottom-footer {
  height: 100px;
  color: #555555;
}

.container--bottom-footer {
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footericons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-footer__caption,
.containerblank,
.footericons-box {
  width: 33.333%;
  transition: 0.5s;
}

.bottom-footer__caption:hover {
  color: #7bc575;
}
/* ICONS */

.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 50px;
  width: 52px;
}

.leaficon {
  background-image: url(../img/leaf.png);
  background-color: #7cc576;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 5px;
}

.arrowicon {
  display: inline-block;
  background-image: url('../img/Arrow-Right.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 13px;
}

.icon--project {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 4px black;
}

.icon--project:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  top: -4px;
  left: -4px;
  padding: 0;
  z-index: 10;
  border: 4px dashed black;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.icon--project:before {
  display: block;
  -webkit-font-smoothing: antialiased;
  /* line-height: 92px; */
}

.icon--project:hover {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  color: black;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.icon--project:hover:after {
  -webkit-animation: spinAround 9s linear infinite;
  -moz-animation: spinAround 9s linear infinite;
  animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon--culture {
  position: relative;
  border: 3px solid #777777;
  height: 100px;
  width: 100px;
  margin: 10px 0px;
  transition: all 0.8s;
}

.icon--rounded {
  float: left;
  display: block;
  border-radius: 50%;
}

.hearticon {
  background-image: url(../img/Icon%20-%20Heart.png);
}

.ipadicon {
  background-image: url('../img/Icon%20-%20Mobile.png');
}

.graphicon {
  background-image: url('../img/Icon%20-%20Graph.png');
}

.basketicon {
  background-image: url('../img/Icon-Basket.png');
}

.laptopicon {
  background-image: url('../img/Icon-Laptop.png');
}

.lockicon {
  background-image: url('../img/Icon-Locked.png');
}

.noteicon {
  background-image: url('../img/Icon-Music.png');
}

.graph-cultureicon {
  background-image: url('../img/Icon-Graph.png');
}

.staricon {
  background-image: url('../img/Icon-Star.png');
}

.location-icon {
  background-image: url('../img/location.png');
}

.iphoneicon {
  background-image: url('../img/iPhone%20potrait.png');
}

.mailicon {
  background-image: url('../img/email.png');
}

.newsicon {
  background-image: url('../img/News%20Icon.png');
}

.photoicon {
  background-image: url('../img/Photo%20Icon.png');
}

.mediaicon {
  background-image: url('../img/Media%20Icon.png');
}

.tweeticon {
  background-image: url('../img/Twitter%20Icon.png');
}

.tweetfootericon {
  background-image: url('../img/Twitter.png');
  background-color: #212121;
  transition: 0.5s;
}

.tweetfootericon:hover {
  background-color: #00aced;
}

.facebookicon {
  background-image: url('../img/Facebook.png');
  background-color: #212121;
  transition: 0.5s;
}

.facebookicon:hover {
  background-color: #3b5998;
}

.pintresticon {
  background-image: url('../img/Pinterest.png');
  background-color: #212121;
  transition: 0.5s;
}

.pintresticon:hover {
  background-color: #cb2028;
}

.googleicon {
  background-image: url('../img/Google+.png');
  background-color: #212121;
  transition: 0.5s;
}

.googleicon:hover {
  background-color: #da2713;
}

/* MEDIA QUERIES */

@media (max-width: 400px) {
  .display {
    font-size: 45px;
  }
  .nav__link::after {
    margin: 0 auto;
  }
  .nav__link:hover::after {
    margin: 0 auto;
    width: 30%;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 80px;
  }
  .navbar__brand {
    margin-right: 75%;
  }
  .nav__link::after {
    margin: 0 auto;
  }
  .nav__link:hover::after {
    margin: 0 auto;
    width: 20%;
  }
  .container--culture {
    flex-direction: column;
    align-items: center;
  }
  #culture .icon--culture::after {
    display: none;
  }
  .container--top-footer {
    flex-wrap: wrap;
  }
  .contact__box,
  .posts__box,
  .tweets__box {
    width: 100%;
    padding: 10px 10px;
  }
  .container--bottom-footer {
    justify-content: center;
  }
  .bottom-footer__caption {
    display: none;
  }
  .footericons-box {
    width: 100%;
  }
  .containerblank {
    display: none;
  }
}

@media (max-width: 960px) {
  .navbar {
    padding: 30px 100px;
  }
  .navbar__brand {
    margin-right: 75%;
  }
  .nav__link::after {
    margin: 0 auto;
  }

  .nav__link:hover::after {
    width: 15%;
    margin: 0 auto;
  }
  .gear {
    display: none;
  }
  .container--relax {
    height: 100%;
    width: 100%;
    padding: 50px 20px;
  }
  .container--services {
    flex-wrap: wrap;
    justify-content: center;
  }
  .title {
    font-size: 36px;
  }
  #services {
    text-align: center;
  }
  #culture .icon--culture::after {
    width: 100px;
    right: -160%;
  }
  .img--logo {
    margin: 20px;
  }
}

@media (max-width: 840px) {
  #culture .icon--culture::after {
    width: 100px;
    right: -140%;
  }
}

@media (min-width: 960px) {
  .navbar__nav {
    display: flex;
    flex-basis: auto;
    margin-left: auto;
  }
  #culture .icon--culture::after {
    width: 130px;
    right: -190%;
  }
  .paragraph--project {
    width: 380px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 30px 100px;
  }
  .container--project__ipad {
    display: none;
  }
}

.come-in {
  transform: translateY(500px);
  animation: come-in 1s ease forwards;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}
